*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #8BD2F1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
textarea{
    margin: 40px;
    height: 200px;
    width: 350px;
    border-radius: 10px;
    background-color: #F8E4E2;
    border: 2px solid #FE9DD0;

}
input{
    width: 300px;
    height: 30px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #F8E4E2;
    border: 2px solid #FE9DD0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{
    width: 200px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    border-style: none;
    background-color: #FE9DD0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 5px rgb(83, 83, 83);
}
button:hover{
    background-color:rgb(158, 141, 253);
    color:white; 
    width: 220px;
    height: 50px;
    box-shadow: 5px 5px 5px rgb(83, 83, 83);
    transition: 0,1s;
}

button:active{
    color:rgb(243, 24, 144);
    width: 220px;
    height: 50px;
    box-shadow: 5px 5px 5px rgb(83, 83, 83);
    transition: 0,1s;
}

hr{
    margin: 20px;
    width: 100%;
    border: 2px solid #FE9DD0;
}

#procurar{
    height: 40px;
}
